/* ------------------------------------------------- */
/* Navigation Bar Style */
#signIn, #manageBooking, #account {
  color: #ffffff;
}

#signIn:hover, #signIn:focus,
#manageBooking:hover, #manageBooking:focus {
  color: #ffe484;
}

#signUp {
  color: #000000;
  background-color: #ffffff;
  border-radius:1em;
}

#signUp:hover, #signUp:focus {
  background-color: #ffe484;
}

.navbar {
  background-color: #563d7c;
}

.navbar.navbar-brand {
  color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffe484;
}

/* ------------------------------------------------- */
/* breadcrumbs */
.breadcrumbs {
  background-color:#FFC09F;
}

p {
  margin-bottom:0em;
}

/* -------------------------------------------------- */
/* Manage booking modal */

.smallImage {
	max-width: 100%;
	height: auto;
}

/* -------------------------------------------------- */
/* Modal design */


/* Full-width input fields */
.fname, .lname, .email, .phone, .psw, .psw-repeat {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-style: solid;
  border-color: #ddd;
}


/* Add a background color when the inputs get focus */
.fname:focus {
  background-color: #ddd;
  outline: none;
}

.lname:focus {
  background-color: #ddd;
  outline: none;
}

.email:focus {
  background-color: #ddd;
  outline: none;
}

.phone:focus {
  background-color: #ddd;
  outline: none;
}

.psw:focus {
  background-color: #ddd;
  outline: none;
}

.psw-repeat:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
.facebook, .google{
  background-color: #563d7c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.facebook {
  background-color: #3B5998;
  color: white;
  border-radius: 10px;
}

.google {
  background-color: #dd4b39;
  color: white;
  border-radius: 10px;
}

.facebook:hover {
  opacity: 1;
}

.google:hover {
  opacity: 1;
}

/* Add padding to container elements */
.signup-container, .signin-container {
  padding: 16px;
}

.edit {
  float: right;
}
