<!DOCTYPE html>
<html>
 
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Restaurant page">
  <meta name="author" content="Luan Sage">
  <title>Restaurant Page</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/search.css">
  <link rel="stylesheet" href="stylesheets/navigationBar.css">
  <link rel="stylesheet" href="stylesheets/restaurantPage.css">

  <!-- Vue CDN -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- jquery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 

  <!-- Date and Time Picker CDN -->
  <link href='stylesheets/rome.min.css' rel='stylesheet' type='text/css' />
  <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>

  <!-- URI handler CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/URI.js/1.15.2/URI.min.js"></script>

  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 
<body onload="populateFields();">

  <!-- the navbar -->
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container"> <!-- to keep nav items from hugging borders in large viewports -->
      <a class="navbar-brand" href="/">LOGO</a>
      <div class="nav ml-auto"> <!-- to ensure sign up and sign in links are right aligned -->
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleItems" aria-controls="navbarToggleItems" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarToggleItems">
          <a class="nav-item nav-link" id="signUp" href="#" data-toggle="modal" data-target="#signUpModal">Sign up</a>
          <a class="nav-item nav-link" id="signIn" href="#" data-toggle="modal" data-target="#signInModal">Sign in</a>
  	      <a class="nav-item nav-link active" id="manageBooking" href="#" onclick="$('#bookingModal').modal('show');">Manage Bookings</a>
          <div class="dropdown"><a class="nav-link dropdown-toggle" id="account" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#bookingHistory">Booking History</a>
              <a class="dropdown-item" href="owner.html">Manage Restaurant</a>
              <a class="dropdown-item" data-toggle="modal" href="#settingsModal">Settings</a>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div id="restaurantDetails">
    <!-- breadcrumbs -->
    <div class="container-fluid breadcrumbs">
      <div class="container">
          <p> <a href='/'>Home</a> > <a id='searchBreadcrumb' href="">Search</a> > <i id="breadcrumbName">{{ name }}</i> </p>
      </div>
    </div>

    <!-- restaurant information -->
    <div class="container-fluid">
      <div class="row">
        <div class="order-2 order-md-1 col-md-9" id="restaurantInfo">
          <div id="restaurantHeading">
            <h1><b><span id="restaurantName"> {{ name }} </span></b></h1>
            <h4 id="location"> {{ address }} </h4>
          </div>
          <!-- todo: Replace positives and negative stars -->
          <p>
          <span id="topInfo"></span>
          </p> <!-- To be populated with rating, review count, cuisine, and price rating of selected restaurant -->

          <!-- slideshow -->
          <div id="bigImageSection" class="container-fluid" style="padding-top: 10px">

            <!-- grid of photos -->
            <div id="gridImageSection" class ="row">
            </div>
          </div>

          <div id="navigator">
            <button class="navButtons" id="topButton">Top</button>
            <button class="navButtons" id="aboutButton">About</button>
            <button class="navButtons" id="menuButton">Menu</button>
            <button class="navButtons" id="reviewsButton">Reviews</button>
            <!-- Map functionality is omitted for now -->
            <!-- <button class="navButtons" id="mapButton">Map</button> -->
          </div>

          <!-- about section -->
          <div class="section">
            <h2 class="headings" id="aboutSection"><b>About</b></h2>
            <p id="aboutInfo"> {{ about }} </p>
          </div>

          <!-- menu section -->
          <div class="section">
            <h2 class="headings" id="menuSection"><b>Menu</b></h2>
            <p id="menuInfo"></p>
          </div>

          <!-- reviews section -->
          <div class="section">
            <h2 class="headings" id="reviewsSection"><b>Reviews</b></h2>

            <div class="row" v-for="r in reviews">
              <div id="username" class="col-2">
                <i class="icon far fa-user fa-3x"></i>
                <p>{{r.name_display}}</p>
              </div>
              <div class="col-8">
                <!--<span v-for="star in parseInt(r.rating_overall)"><i class="fas fa-star icon"></i></span>-->
                <p id="topOfReview">Overall: {{r.rating_overall}} | Food: {{r.rating_food}} | Service: {{r.rating_service}} | Ambience: {{r.rating_ambience}} | Value: {{r.rating_value}} | Noise: {{r.noise}}</p>
                <p>{{r.description}}</p>
                <hr>
              </div>
              <div class="col-2">
                <p>Reviewed 3 days ago</p>
              </div>
            </div>

          <div id="insertReview" class="col-12">
            <h4> Leave a review </h4>
            <textarea placeholder="Review description" name="description" style="min-width: 90%"></textarea>
            <p> 
            Overall: <input type="number" name="overall" min="1" max="5" value="5">
            Food: <input type="number" name="overall" min="1" max="5" value="5">
            Service: <input type="number" name="overall" min="1" max="5" value="5">
            Ambience: <input type="number" name="overall" min="1" max="5" value="5">
            Value: <input type="number" name="overall" min="1" max="5" value="5">
            Noise: <select class='input' id="noise_rating">
                <option value="Quiet">Quiet</option>
                <option value="Moderate" selected="selected">Moderate</option>
                <option value="Loud">Loud</option>
              </select>
            </p>
            <div class="row mx-auto pt-2 pb-2">
              <input type="text" placeholder="Your Name" name="description" style="min-width: 20%"></textarea>
            </div>
            <div class="row mx-auto">
              <button onclick="submitReview()" class="btn btn-info">Submit</button>
            </div>
          </div>
          </div>
        </div>

        <!-- booking information -->
        <div class="order-1 order-md-2 col-md-3" id="booking">
          <div id="bookingContent">
            <h1 id="reserveNow"><b>Make a Reservation</b></h1>

            <!-- number of people selector --> 
            <div class="input-group-prepend searchSymbol" id="guestSetting">
              <i class="icon far fa-user fa-2x"></i>
              <select v-model="guestsSelected" id='peopleSelector' class='input topRowElement' name="peopleSelector">
                <option value="1">1 people</option>
                <option value="2">2 people</option>
                <option value="3">3 people</option>
                <option value="4">4 people</option>
                <option value="5">5 people</option>
                <option value="6">6 people</option>
                <option value="7">7 people</option>
                <option value="8">8 people</option>
                <option value="9">9 people</option>
                <option value="10">10 people</option>
                <option value="11">11 people</option>
                <option value="12">12 people</option>
                <option value="13">13 people</option>
                <option value="14">14 people</option>
                <option value="15">15 people</option>
                <option value="16">16 people</option>
                <option value="17">17 people</option>
                <option value="18">18 people</option>
                <option value="19">19 people</option>
                <option value="20+">20+ people</option>
              </select>
            </div>

            <!-- date picker -->  
            <div class="input-group-prepend searchSymbol" id="dateSetting">
              <i class="icon far fa-calendar-alt fa-2x"></i>
              <input v-model="dateSelected" id='datePicker' class='input topRowElement'/>
            </div>

            <!-- time picker --> 
            <div class="input-group-prepend searchSymbol" id="timeSetting">
              <i class="icon far fa-clock fa-2x"></i>
              <input id='timePicker' class='input topRowElement'/>
            </div>
          </div>
            <button id="buttonConfirmBooking" class="btn btn-info" data-toggle="modal" data-target="#modalConfirmBooking" onclick="confirmBookingDetails()">Confirm your Reservation</button>
        </div>
      </div>
    </div>

    <!-- Modal to search for a booking -->
    <div class="modal fade" id="searchBooking">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h5 class="modal-title">Manage a Booking</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="closeConfirmBooking" aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Body -->
          <div class="modal-body">
            <p>Please <a href="#">sign in</a> to view all current bookings.</p>
            <br>
            <p>Or you can search for a booking below.</p>
            <br>
            <p>Last name:</p>
            <input type="text"><br>
            <p>Booking ID:</p>
            <input type="text"><br>
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button id="searchForBooking" class="btn btn-primary">Search</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal to confirm booking -->
    <div class="modal fade" id="modalConfirmBooking">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h5 class="modal-title">
              Confirm your Reservation
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="closeConfirmBooking" aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Body -->
          <div class="modal-body">
            <div>
              <h2 id="nameCB"></h2>
            </div>
            <div class="flex-container">
              <div id="guestsCB" class="icon far fa-user fa-lg"> {{ guestsSelected }}</div>
              <div id="dateCB" class="icon far fa-calendar-alt fa-lg"> {{ dateSelected }}</div>
              <div id="timeCB" class="icon far fa-clock fa-lg"> {{ timeSelected }}</div>  
            </div>
            <p id="signInMessage">
              <a href="#">Sign in</a> or <a href="#">sign up</a> to proceed using an account
            </p>
            <p>First name:</p>
            <input class = "confirmBookingInput" type="text" name="firstname"><br>
            <p>Last name:</p>
            <input class = "confirmBookingInput" type="text" name="lastname"><br>
            <p>Email address:</p>
            <input class = "confirmBookingInput" type="text" name="email"><br>
            <p>Phone number:</p>
            <input class ="confirmBookingInput" type="text" name="phonenumber">
          </div>
          <!-- Footer -->
          <div class="modal-footer">
            <button id="finalConfirm" class="btn btn-success">Reserve Now</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal to state the booking is successful -->
    <div class="modal fade" id="confirmBookingTwo">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h5 class="modal-title">Success!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="closeConfirmBooking" aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Body -->
          <div class="modal-body">
            <p id="confirmedBookingMessage">We've reserved your table for you.<br><br>Your booking id is: 123456<br><br>A confirmation email has been sent to <i>emailAddress</i><br><br>To manage your current bookings, click <a id="goManageBookings" href="#" data-toggle="modal" data-target="#bookingModal">here</a><br><br>To add this booking to your Google Calendar, click <a href="#">here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- bottom of page stuff -->
  <div class="container-fluid text-center" id="footer">
    <p> Privacy Policy - Terms of Use - Copyright 2019 </p>
  </div>

  <!-- Modal to list current bookings -->
  <div id="bookingInfo">
    <div class="modal fade" id="bookingModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h5 class="modal-title">Manage your bookings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="closeConfirmBooking" aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Body -->
          <div class="modal-body">
            <div class="row" v-for="b in bookings">
              <div class="col-4">
                <img class="smallImage" v-bind:src="b.url" alt="restaurant image">
              </div>
              <div class="col-8">
                <h5>{{b.name}}</h5>
                <p> {{b.date}} | {{b.time}} | {{b.guests}} guests</p>
                <button class="btn btn-sm btn-primary">Edit</button>
                <button class="btn btn-sm btn-danger">Remove</button>
                <button class="btn btn-sm btn-success">Add to Google Calender</button>
              <hr/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Signing Up Modal -->
  <div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="signUpModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signUpModalTitle">Sign Up</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="fname"><b>First Name</b></label>
          <input id="fname" type="text" class="fname" placeholder="First Name*" name="fname" required>
          <label for="lname"><b>Last Name</b></label>
          <input id="lname" type="text" class="lname" placeholder="Last Name*" name="lname" required>
  
          <label for="email"><b>Email</b></label>
          <input id="email" type="text" class="email" placeholder="Email*" name="email" required>
          <label for="phone"><b>Phone Number (optional)</b></label>
          <input id="phone" type="text" class="phone" placeholder="Phone Number" name="phone">
  
          <label for="psw"><b>Password</b></label>
          <input id="psw" type="password" class="psw" placeholder="Password*" name="psw" required>
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input id="psw-repeat" type="password" class="psw-repeat" placeholder="Repeat Password" name="psw-repeat" required>
  
  
          <form>
          <input type="radio" name="user" value="user" checked>User
          <br />
          <input type="radio" name="user" value="manager">Restaurant Manager
          </form>
  
          <br />
  
          <p>Already have an account? <a href="#signInModal" data-toggle="modal"  data-dismiss="modal" >Sign in>></a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Sign up</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal for signing in -->
  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signInModalTitle">Sign In</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="email-signIn"><b>Email</b></label>
          <input id="email-signIn" type="text" class="email" placeholder="Email*" name="email" required>
  
          <label for="psw-signIn"><b>Password</b></label>
          <input id="psw-signIn" type="password" class="psw" placeholder="Password*" name="psw" required>
  
          <hr>
  
          <p style="text-align:center;">Or login via... </p>
  
          <div class="socialSignin">
            <button type="button" class="facebook"><i class="fa fa-facebook fa-fw"></i><b>Login with Facebook</b></button>
            <button type="button" class="google"><i class="fa fa-google fa-fw"></i><b>Login with Google+</b></button>
          </div>
          <p><a href="#signUpModal" data-toggle="modal"  data-dismiss="modal">Sign up now>></a></p>
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- Modal to list current bookings -->
  <div id="orders">
    <div class="modal fade" id="bookingHistory">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Header -->
          <div class="modal-header">
            <h5 class="modal-title">Your Orders</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="closeConfirmBooking" aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- Body -->
          <div class="modal-body">
            <div class="row">
              <div class="col-4">
                <img class="smallImage" alt="restaurant booking image" src="images/featuredRestaurants/1.jpg">
              </div>
              <div class="col-8">
                <h5>Parisi's</h5>
                <p> 19/05/2019 | 7:30 | 3 guests</p>
                <button class="btn btn-sm btn-primary">Book again</button>
                <button class="btn btn-sm btn-success">Leave a review</button>
              <hr/>
              </div>
              <div class="col-4">
                <img class="smallImage" alt="restaurant booking image" src="images/featuredRestaurants/2.jpg">
              </div>
              <div class="col-8">
                <h5>50SixOne</h5>
                <p> 20/05/2019 | 15:30 | 5 guests</p>
                <button class="btn btn-sm btn-primary">Book again</button>
                <button class="btn btn-sm btn-success">Leave a review</button>
              <hr/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal for settings -->
  <div class="modal fade" id="settingsModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="signInModalLabel">Account Settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          <div>
            <label for="fname"><b>Name: </b>Yuxiao Liu</label>
            <a class="edit" href="#" onclick="changeName()">Edit</a>
          </div>
          <div id="setName" style="display: none">
            <input id="Changefname" type="text" class="fname" placeholder="First Name" name="fname">
            <input id="Changelname" type="text" class="lname" placeholder="Last Name" name="lname">
          </div>
  
          <div>
            <label for="email-signIn"><b>Email: </b>example@gmail.com</label>
            <a class="edit" href="#" onclick="changeEmail()">Edit</a>
          </div>
          <div id="setEmail" style="display: none">
            <input id="change-email-signIn" type="text" class="email" placeholder="Email" name="email">
          </div>
  
          <div>
            <label for="psw-signIn"><b>Password: </b>********</label>
            <a class="edit" href="#" onclick="changePsw()">Edit</a>
          </div>
          <div id="setPsw" style="display: none">
            <input id="currentPsw" type="password" class="psw" placeholder="Current password" name="psw">
            <input id="newPsw" type="password" class="psw" placeholder="New password" name="psw">
            <input id="repeatNewPsw" type="password" class="psw" placeholder="Confirm new password" name="psw">
          </div>
  
        </div>
  
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Update</button>
        </div>
      </div>
    </div>
  </div>


<script src='javascripts/rome.min.js'></script> <!-- date and time picker -->
<script src="javascripts/restaurantPage.js"></script>
<script src="javascripts/bootstrap.min.js"></script>
<script src="javascripts/navigationBar.js"></script>

</body>
 
</html>
